<div class="content">
  <h2>Observable Service</h2>
  <p>Services can expose a Subject/Behaviour/ReplaySubject that other services/components can subscribe to for changes.</p>

  <div class="card-container">
    <app-card-for-observable-service *ngFor="let card of cards" (remove)="doRemoveCard($event)" [identifiedBy]="card">
    </app-card-for-observable-service>
  </div>

  <div class="row w-100 pt-2 border-top">
    <div class="col-sm-8">
      <button class="btn btn-primary ml-auto" type="button" (click)="doAddCard()">Add component</button>
    </div>
    <div class="col-sm-4">
      <app-country-select-for-observable-service></app-country-select-for-observable-service>
    </div>
  </div>
</div>
